<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springbootvue.repository.BoardRepository">
    <insert id="saveBoard">
        INSERT INTO BOARD(WRITER,INPUTTEXT,WRITEDATE) VALUES(#{writer},#{inputText},current_timestamp)
    </insert>
    <select id="boardData" resultType="com.study.springbootvue.domain.BoardDTO">
        SELECT c.* from (SELECT @rownum:=@rownum+1 rnum, b.* from board b WHERE (@rownum:=0)=0 order by WRITEDATE desc) c where rnum  between #{startRow} and #{endRow};
    </select>
    <select id="allData" resultType="int">
        SELECT count(*) FROM board
    </select>
</mapper>
